<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{.themeCss}}/style.min.css">
    <link rel="stylesheet" href="{{.themeCss}}/bootstrap.css">
</head>
<body class="gray-bg">
<div class="middle-box text-center animated fadeInDown">
    <h1 style="font-size: 300px;margin: -15%">404</h1>
    <h3 class="font-bold">页面未找到！</h3>
    <div class="error-desc" style="text-align: center">
        抱歉，页面好像去火星了~
    </div>
    <div class="error-desc" style="margin-top: 12px;text-align: center">
        要不咱再返回<a class="error-link" href='/'> <b>地球</b> </a>看看
    </div>
</div>
<!-- 全局js -->
<script type="text/javascript" src="{{.themeJs}}/bootstrap.js"></script>
</body>
</html>