{{define "detail"}}
    <link rel="stylesheet" href="{{.themeHLightCss}}/darcula.css" type="text/css">
    <link rel="stylesheet" href="{{.themeShareCss}}/share.min.css"  type="text/css">
    <script src="{{.themeShareJs}}/qrcode.js" ></script>
    <script src="{{.themeHLightJs}}/highlight.pack.js" ></script>
    <script >hljs.initHighlightingOnLoad();</script>


    <section id="intro">
        <div class="container post-detail" >
        <div class="row col-md-offset-2">
            <div class="col-md-8">
    			<span class="post-meta">
                  <time datetime="{{.post.Post.CreatedAt}}" itemprop="datePublished">
                      {{.post.Post.CreatedAt}}
                  </time>
                        |
                    {{range $k,$v := .post.Tags}}
                        <a href='../../tags/{{$v.Name}}'>{{$v.DisplayName}}</a>,
                    {{end}}
                </span>
                <h1>{{ .post.Post.Title}}</h1>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            {{ .post.Post.Content}}
            <div class="clearfix"></div>
            <hr class="nogutter">
                <span style="color: #19A1F9">欢迎转载,但请附上原文地址哦,尊重原创,谢谢大家 本文地址: <a style="color: #19A1F9" href="/detail/{{.post.Post.Id}}/">https://www.iphpt.com/detail/{{.post.Post.Id}}/</a></span>
            <hr class="nogutter">
                <blockquote>
                    <span>本站(PHP --> Golang)已重构,代码开源</span>
                </blockquote>
                <ul>
                    <li>
                        <span style="color: #3344de">Golang版本  代码地址: <a style="color: #f91919" href="https://github.com/izghua/go-blog">https://github.com/izghua/go-blog</a></span>
                    </li>
                    <li>
                        <span style="color: #3344de">原PHP版本 代码地址: <a style="color: #f91919" href="https://github.com/xzghua/laravel-5-myblog">https://github.com/xzghua/laravel-5-myblog</a></span>
                    </li>
                </ul>
            <hr class="nogutter">
            <div class="social-share"></div>
        </div>

        <nav class="m-pagination col-md-8 col-md-offset-2 col-sm-24" role="pagination">

            {{if gt .post.LastPost.Id 0 }}
                <a class="pull-left" href="/detail/{{.post.LastPost.Id}}" style="float: left;max-width:35%;">
                    ←
                    <span style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;"> {{.post.LastPost.Title}}</span>
                </a>
            {{end}}

            {{if gt .post.NextPost.Id 0 }}
                <a class="pull-right" href="/detail/{{ .post.NextPost.Id}}" style="max-width:35%;float: right;">
                    <span style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;max-width: 90%">
                        {{ .post.NextPost.Title}}
                    </span>
                    →
                </a>
            {{end}}
        </nav>

    </div>
        <div  style="text-align: center;width: 45%;margin: auto;">
            <div id="gitalk-container"></div>
        </div>
    </section>

    <div>
        <script src="{{.themeShareJs}}/social-share.min.js" ></script>
        <script>
            var $config = {
                title               : {{ .psot.Post.Title }},
                description         : {{ .psot.Post.Summary }},
                wechatQrcodeTitle   : "微信扫一扫：分享", // 微信二维码提示文字
                wechatQrcodeHelper  : '<p>微信里点“发现”，扫一下</p><p>二维码便可将本文分享至朋友圈.。</p>',
                disabled            : ['facebook', 'twitter'],
            };
            socialShare('.social-share', $config);
        </script>
        <div class="col-md-8 col-md-offset-2 col-sm-24">
            <div id="container"></div>
            <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
            <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
            <script>
                const gitalk = new Gitalk({
                    clientID: {{ .github.GithubClientId }},
                    clientSecret: {{ .github.GithubClientSecret }},
                    repo: {{ .github.GithubRepo }},
                    owner: {{ .github.GithubName }},
                    admin: [{{ .github.GithubName }}],
                    id: "{{ .post.Post.Id }}",      // Ensure uniqueness and length less than 50
                    distractionFreeMode: false,  // Facebook-like distraction free mode
                    labels: [{{ .github.GithubLabels }}], //因为以前用的是 gitment,现在是gitalk,labels不是 或 的关系.. 所以只能显示这个了
                });
                gitalk.render('gitalk-container');
            </script>
            </div>
    </div>

{{end}}