<!DOCTYPE html>
<!--[if lte IE 8 ]>
<html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<span style="display: none">
#   __  .______    __    __  .______   .___________.      ______   ______   .___  ___.
#  |  | |   _  \  |  |  |  | |   _  \  |           |     /      | /  __  \  |   \/   |
#  |  | |  |_)  | |  |__|  | |  |_)  | `---|  |----`    |  ,----'|  |  |  | |  \  /  |
#  |  | |   ___/  |   __   | |   ___/      |  |         |  |     |  |  |  | |  |\/|  |
#  |  | |  |      |  |  |  | |  |          |  |      __ |  `----.|  `--'  | |  |  |  |
#  |__| | _|      |__|  |__| | _|          |__|     (__) \______| \______/  |__|  |__|
#



                       ""$o               o$""
                         ""$o           o$"                      o
   "$""""o                  "o         $"                 o""" $"
         "$o                "$o" $o "  $                 o$"
          "$o               $$$o$$$$o$$$$               $"
            "oooo      o "" ""$$$$$$$$""o"" oo     oooo"
             "$$$$$$oo"oo$$$o" o$$$$oo" o$$$o "o$$$$$$$
                   "$ $$$$$$$$$oo   o$$$$$$$$$o"$"
                   $ $$$   $$$$$$  o$$$$$$  "$$o"o
                  $ $$$$o  $$$$$$  $$$$$$$  $$$$o"o
                 $  $$$$$  $$$$$"   "$$$$$ $$$$$$ $
                  $o""""" """"         """ """"""$"
                 $  o$$$$$"""$$$$$"$$$$$""$$$$$ooo"o
                 $  o"$o $$$$$$$$oo$$$$$$$$o $$""  $
              oo$     "$$$$$$$$$$$$$$$$$$$$" o" o $oo
           o$$$"$ $$o"o $$$$$$$"" "$$$$$$$    o$$ $$$$o      IPHPT BUG
         o$$$$" $ $$$$ o "$$$$$oo o$$$$$$  "o$$$$ $ $$$$$
        o$$""    $ $$$$$o" "$$$$$$$$$$$$$ o o$$$$$o$   "" $$
        $$"      $ $$$"  o"o$$$$$$$$$$$$   " "$$$ $       $$o
       o$$       "o $$    "  $$$$$$$$$$$"o    "$$ $       $$$
       $$$      oo$ $       o""$$""$$$o "      $"o$o      $$$o
      o$$$$   o$$$"o"$oo$$$$o" o     $o $$$$$oo$ $$$$o    $$$$
      $$$$   $$$$" $ $$$$$""   $$  o$$$ """$$$$"o" "$$$o  "$$$o
      $$$" o """    $ $$$oo   $$$$o" $$   o$$$"o"   """"$  o$$$
   o$"     $$$       $ "$"" o$"o"$$o$$$$  "$$"o"      o$$     "$oo
 $ "        $$o       $ "oo$"o$$$"o$o"$$$$o" o"       $$$       ""$o
$$          $$$o       "o$$o$"$$"$$o$$o$$"$$o"       $$$          ""o
             $$$        ""$$$ $$$$$$ $$$$ $"        $$$$            $$
             $$$$           $$$$"$$$o$ $""          $$$
              $$$$             "$$$ """            $$$$
              $$""                                 "$$
           oo$"                                       $ooo
          $                                             "$$

</span>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<!--<![endif]-->

<head>
    <title>{{ .title }}</title>
    <!-- Meta data -->
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="叶落山城秋">
    <meta name="author" content="叶落山城秋">
    <meta name="description" content="{{ .system.Description }}" />
    <meta name="keywords" content="{{ .system.Keywords }}" />
    <!-- Favicon, (keep icon in root folder) -->
    <link rel="shortcut icon" href="{{.themeImg}}/nice.png">

{{/*    <link rel="alternate" href="atom.xml" title="叶落山城秋" type="application/atom+xml">*/}}
    <link rel="stylesheet" href="{{.themeAllCss}}/all.css" media="screen" type="text/css">



    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="{{.themeCss}}/ie8.css" />
    <![endif]-->

    <!-- jQuery | Load our jQuery, with an alternative source fallback to a local version if request is unavailable -->
    <script src="{{.themeJs}}/jquery-1.11.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ .themeJs }}/jquery-1.11.1.min.js"><\/script>')</script>

    <!-- Load these in the <head> for quicker IE8+ load times -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ .themeJs }}/html5shiv.min.js"></script>
    <script src="{{ .themeJs }}/respond.min.js"></script>
    <![endif]-->



    <link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="atom.xml">



    <style>.col-md-8.col-md-offset-2.opening-statement img{display:none;}</style>
</head>

<!--
<body class="home-template">
-->
<body id="index" class="lightnav animsition">

<!-- ============================ Off-canvas navigation =========================== -->

<div class="sb-slidebar sb-right sb-style-overlay sb-momentum-scrolling">
    <div class="sb-close" aria-label="Close Menu" aria-hidden="true">
        <img src="{{.themeImg}}/close.png" alt="Close"/>
    </div>
    <!-- Lists in Slidebars -->
    <ul class="sb-menu">
        <li><a href="/" class="animsition-link" title="Home">Home</a></li>
        <!-- Dropdown Menu -->

        <li>
            <a class="sb-toggle-submenu">Tags<span class="sb-caret"></span></a>
            <ul class="sb-submenu">
                {{ range $i,$tag := .tags }}
                    <li><a href="/tags/{{$tag.Name}}" target="_BLANK" class="animsition-link">{{$tag.DisplayName}}<small>({{$tag.Num}})</small></a></li>
                {{ end }}
            </ul>
        </li>


        <li>
            <a class="sb-toggle-submenu">Categories<span class="sb-caret"></span></a>
            <ul class="sb-submenu">
                {{ range $i,$cate := .cates }}
                    <li><a href="/categories/{{$cate.Cates.Name}}" class="animsition-link">{{ $cate.Html}}{{$cate.Cates.DisplayName}}</a></li>
                {{end}}
            </ul>
        </li>


        <li>
            <a class="sb-toggle-submenu">Links<span class="sb-caret"></span></a>
            <ul class="sb-submenu">
                {{ range $i,$link := .links }}
                    <li><a href="{{$link.Link}}" target="_BLANK" class="animsition-link">{{$link.Name}}</a></li>
                {{end}}
                <li><a href="https://www.iphpt.com/"  class="animsition-link">叶落山城秋</a></li>
            </ul>
        </li>
    </ul>
    <!-- Lists in Slidebars -->
    <ul class="sb-menu secondary">
        <li><a href="/detail/1" class="animsition-link" title="about">About</a></li>
{{/*        <li><a href="atom.xml" class="animsition-link" title="rss">RSS</a></li>*/}}
        <li><a href="/archives" class="animsition-link" title="Archives">Archives</a></li>

    </ul>
</div>

<!-- ============================ END Off-canvas navigation =========================== -->

<!-- ============================ #sb-site Main Page Wrapper =========================== -->

<div id="sb-site">
    <!-- #sb-site - All page content should be contained within this id, except the off-canvas navigation itself -->

    <!-- ============================ Header & Logo bar =========================== -->

    <div id="navigation" class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <!-- Nav logo -->
                <div class="logo">
                    <a href="/" title="Logo" class="animsition-link">
                        <img src="{{.themeImg}}/nice.png" alt="Logo" width="35px;"/>
                    </a>
                </div>
                <!-- // Nav logo -->
                <!-- Info-bar -->
                <nav>
                    <ul class="nav">
                        <li><a href="/" class="animsition-link">{{.Title}}</a></li>
                        <li class="nolink"><span>叶落山城秋 </span></li>
                        <li><a href="https://github.com/xzghua" title="Github" target="_blank"><i class="icon-github"></i></a></li>
                        <li><a href="http://weibo.com/ylsc633?refer_flag=1001030101_&is_hot=1" title="Sina-Weibo" target="_blank"><i class="icon-sina-weibo"></i></a></li>
                        <li class="nolink"><span><a href="http://www.iphpt.com/detail/1/">给我留言</a></span></li>
                        <li class="nolink"><span><a href="http://www.g9zz.com" target="_blank">G9ZZ</a></span></li>
                        <li class="nolink"><span>Welcome!</span></li>
                    </ul>
                </nav>
                <!--// Info-bar -->
            </div>
            <!-- // .container -->
            <div class="learnmore sb-toggle-right">More</div>
            <button type="button" class="navbar-toggle menu-icon sb-toggle-right" title="More">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar before"></span>
                <span class="icon-bar main"></span>
                <span class="icon-bar after"></span>
            </button>
        </div>
        <!-- // .navbar-inner -->
    </div>

    <!-- ============================ Header & Logo bar =========================== -->
    {{ if eq .tem  "defaultList" }}
        {{template "pageList" .}}
    {{ else if eq .tem  "tagList" }}
        {{template "tagList" .}}
    {{ else if eq .tem  "cateList" }}
        {{template "cateList" .}}
    {{ else if eq .tem "detail" }}
        {{template "detail" .}}
    {{ else if eq .tem "archives" }}
        {{template "archives" .}}
    {{ else }}
        {{template "tagList" .}}
    {{end}}
    <!-- ============================ Content =========================== -->


    <section id="statement">
        <div class="container text-center wow fadeInUp" data-wow-delay="0.5s">
            <div class="row">
                <p>当你能力不能满足你的野心的时候,你就该沉下心来学习</p>
            </div>
        </div>
    </section>
    <!-- ============================ END Content =========================== -->



    <!-- ============================ Footer =========================== -->

    <footer>
        <div class="container">
            <div>
                <p>欢迎加入PHP交流群(QQ群号):440221268</p>
            </div>
            <div>
                <p>欢迎加入Golang交流群(QQ群号):423069874</p>
            </div>
        </div>
        <div class="container">
            <div class="copy">
                <p>
                    &copy; 2014<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script>, Content By 叶落山城. All Rights Reserved.
                    <a style="color: #666;" href="http://www.beian.miit.gov.cn/">{{ .system.RecordNumber }}</a>
                </p>

            </div>
            <div class="social">
                <ul>
                    <li><a href="https://github.com/izghua" title="Github" target="_blank"><i class="icon-github"></i></a>&nbsp;</li>
                    <li><a href="http://weibo.com/ylsc633" title="Sina-Weibo" target="_blank"><i class="icon-sina-weibo"></i></a>&nbsp;</li>
                </ul>

            </div>

            <div class="clearfix"> </div>
        </div>
    </footer>
</div>
<!-- ============================ END Footer =========================== -->
<!-- Load our scripts -->
<!-- Resizable 'on-demand' full-height hero -->
<script type="text/javascript">
    var resizeHero = function () {
        var hero = $(".cover,.heightblock"),
            window1 = $(window);
        hero.css({
            "height": window1.height()
        });
    };

    resizeHero();

    $(window).resize(function () {
        resizeHero();
    });
</script>
<script src="{{.themeJs}}/plugins.min.js"></script><!-- Bootstrap core and concatenated plugins always load here -->
<script src="{{.themeJs}}/scripts.js"></script><!-- Theme scripts -->


<link rel="stylesheet" href="{{ .themeFancyboxCss}}/jquery.fancybox.css" media="screen" type="text/css">
<script src="{{ .themeFancyboxJs}}/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
    $('#intro').find('img').each(function(){
        var alt = this.alt;
        if (alt){
            $(this).after('<span class="caption" style="display:none">' + alt + '</span>');
        }
        $(this).wrap('<a href="' + this.src + '" title="' + alt + '" class="fancybox" rel="gallery" />');
    });
    (function($){
        $('.fancybox').fancybox();
    })(jQuery);
</script>



<!-- Initiate flexslider plugin -->

{{.script}}

</body>
</html>

